In [68]:
import pandas as pd

hurricane_df = pd.read_csv("hurdat2.csv",parse_dates=['datetime'])
a = hurricane_df.groupby(['num_pts', 'identifier']).agg({'max_wind':'max',      # find the sum of the durations for each group
                                     'min_pressure': 'min'}) # find the number of network type entries
a

                    max_wind  min_pressure
num_pts identifier
1       AL011853          50          -999
        AL011855          90          -999
        AL011858          70          -999
        AL011859          90          -999
        AL011865          50          -999
        AL011870          70          -999
        AL021851          80          -999
        AL021853          40          -999
        AL021854          60          -999
        AL021858          70          -999
        AL021864          60          -999
        AL021865          50          -999
        AL031851          50          -999
        AL031855          70          -999
        AL031860          70          -999
        AL031867          90          -999
        AL041856          50          -999
        AL041861          70          -999
        AL041862          50          -999
        AL041866          70          -999
        AL051853          50          -999
        AL051865          60          -999
        AL051867          50          -999
        AL061865          70          -999
        AL071853          50          -999
        AL071861          50          -999
        AL071870          70          -999
        AL081867          40          -999
        AL081869          60          -999
        AL091869          50          -999
...                      ...           ...
73      AL041947         125          -999
        AL051996         125           933
        AL151970          30          -999
74      AL022008         110           952
        AL041906         115          -999
        AL041950         125          -999
        AL092017         115           937
75      AL021915         125          -999
        AL061893         105          -999
        AL061964         115          -999
        AL062004         125           935
76      AL112015         135           931
78      AL131998         155           905
79      AL151995         100           949
80      AL192003          60           990
81      AL011900         125          -999
        AL021930         135          -999
        AL021987          65           987
        AL091966         130          -999
84      AL091893         105          -999
85      AL122017         135           938
87      AL032000         110           950
90      AL122002          75           980
94      AL092004         145           910
95      AL041926         115          -999
        AL041957         120          -999
96      AL142012          80           978
99      AL201969         100          -999
118     AL141971          95          -999
133     AL031899         130          -999

[1848 rows x 2 columns]

In [69]:


hurricane_df['datetime'] = pd.to_timedelta(hurricane_df['datetime'].dt.strftime('%H:%M:%S'))
hurricane_df['datetime'] = hurricane_df['datetime'].dt.round('h')
grouped = hurricane_df.groupby('datetime').size()
grouped

datetime
0 days 00:00:00    12240
0 days 01:00:00       29
0 days 02:00:00       39
0 days 03:00:00       46
0 days 04:00:00       49
0 days 05:00:00       33
0 days 06:00:00    12254
0 days 07:00:00       37
0 days 08:00:00       45
0 days 09:00:00       40
0 days 10:00:00       49
0 days 11:00:00       37
0 days 12:00:00    12593
0 days 13:00:00       37
0 days 14:00:00       48
0 days 15:00:00       43
0 days 16:00:00       45
0 days 17:00:00       34
0 days 18:00:00    12398
0 days 19:00:00       27
0 days 20:00:00       32
0 days 21:00:00       66
0 days 22:00:00       49
0 days 23:00:00       32
1 days 00:00:00        1
dtype: int64

In [38]:
hurricane_df['time_diff'] = hurricane_df.groupby('identifier')['datetime'].diff().fillna(0)
hurricane_df

,identifier,name,num_pts,record_id,status,latitude,longitude,max_wind,min_pressure,datetime,time_diff
0,AL011851,UNNAMED,14,NaN,HU,28.0,-94.8,80,-999,00:00:00,00:00:00
1,AL011851,UNNAMED,14,NaN,HU,28.0,-95.4,80,-999,06:00:00,06:00:00
2,AL011851,UNNAMED,14,NaN,HU,28.0,-96.0,80,-999,12:00:00,06:00:00
3,AL011851,UNNAMED,14,NaN,HU,28.1,-96.5,80,-999,18:00:00,06:00:00
4,AL011851,UNNAMED,14,L,HU,28.2,-96.8,80,-999,21:00:00,03:00:00
5,AL011851,UNNAMED,14,NaN,HU,28.2,-97.0,70,-999,00:00:00,-1 days +03:00:00
6,AL011851,UNNAMED,14,NaN,TS,28.3,-97.6,60,-999,06:00:00,06:00:00
7,AL011851,UNNAMED,14,NaN,TS,28.4,-98.3,60,-999,12:00:00,06:00:00
8,AL011851,UNNAMED,14,NaN,TS,28.6,-98.9,50,-999,18:00:00,06:00:00
9,AL011851,UNNAMED,14,NaN,TS,29.0,-99.4,50,-999,00:00:00,-1 days +06:00:00
10,AL011851,UNNAMED,14,NaN,TS,29.5,-99.8,40,-999,06:00:00,06:00:00
11,AL011851,UNNAMED,14,NaN,TS,30.0,-100.0,40,-999,12:00:00,06:00:00
12,AL011851,UNNAMED,14,NaN,TS,30.5,-100.1,40,-999,18:00:00,06:00:00
13,AL011851,UNNAMED,14,NaN,TS,31.0,-100.2,40,-999,00:00:00,-1 days +06:00:00
14,AL021851,UNNAMED,1,NaN,HU,22.2,-97.6,80,-999,12:00:00,00:00:00
15,AL031851,UNNAMED,1,NaN,TS,12.0,-60.0,50,-999,12:00:00,00:00:00
16,AL041851,UNNAMED,49,NaN,TS,13.4,-48.0,40,-999,00:00:00,00:00:00
17,AL041851,UNNAMED,49,NaN,TS,13.7,-49.5,40,-999,06:00:00,06:00:00
18,AL041851,UNNAMED,49,NaN,TS,14.0,-51.0,50,-999,12:00:00,06:00:00
19,AL041851,UNNAMED,49,NaN,TS,14.4,-52.8,50,-999,18:00:00,06:00:00
20,AL041851,UNNAMED,49,NaN,TS,14.9,-54.6,60,-999,00:00:00,-1 days +06:00:00
21,AL041851,UNNAMED,49,NaN,TS,15.4,-56.5,60,-999,06:00:00,06:00:00
22,AL041851,UNNAMED,49,NaN,HU,15.9,-58.5,70,-999,12:00:00,06:00:00
23,AL041851,UNNAMED,49,NaN,HU,16.1,-60.4,70,-999,18:00:00,06:00:00
24,AL041851,UNNAMED,49,NaN,HU,16.6,-62.5,80,-999,00:00:00,-1 days +06:00:00
25,AL041851,UNNAMED,49,NaN,HU,16.9,-64.1,80,-999,06:00:00,06:00:00
26,AL041851,UNNAMED,49,NaN,HU,17.2,-66.0,90,-999,12:00:00,06:00:00
27,AL041851,UNNAMED,49,NaN,HU,17.6,-67.6,90,-999,18:00:00,06:00:00
28,AL041851,UNNAMED,49,NaN,HU,18.0,-69.3,90,-999,00:00:00,-1 days +06:00:00
29,AL041851,UNNAMED,49,NaN,HU,18.4,-71.1,70,-999,06:00:00,06:00:00
...,...,...,...,...,...,...,...,...,...,...,...
50273,AL172017,OPHELIA,47,NaN,EX,59.3,1.5,40,994,12:00:00,06:00:00
50274,AL172017,OPHELIA,47,NaN,EX,60.1,5.3,40,997,18:00:00,06:00:00
50275,AL182017,PHILIPPE,7,NaN,DB,17.5,-84.2,30,1006,18:00:00,00:00:00
50276,AL182017,PHILIPPE,7,NaN,DB,18.2,-84.5,30,1006,00:00:00,-1 days +06:00:00
50277,AL182017,PHILIPPE,7,NaN,DB,19.1,-84.3,30,1004,06:00:00,06:00:00
50278,AL182017,PHILIPPE,7,NaN,TD,20.1,-83.5,30,1003,12:00:00,06:00:00
50279,AL182017,PHILIPPE,7,NaN,TS,21.3,-82.4,35,1000,18:00:00,06:00:00
50280,AL182017,PHILIPPE,7,L,TS,22.2,-81.6,35,1000,22:00:00,04:00:00
50281,AL182017,PHILIPPE,7,NaN,TD,22.7,-81.2,30,1003,00:00:00,-1 days +02:00:00
50282,AL192017,RINA,21,NaN,LO,25.5,-52.3,25,1013,12:00:00,00:00:00
50283,AL192017,RINA,21,NaN,LO,26.5,-52.1,25,1013,18:00:00,06:00:00
50284,AL192017,RINA,21,NaN,LO,27.5,-52.0,25,1013,00:00:00,-1 days +06:00:00
50285,AL192017,RINA,21,NaN,LO,28.4,-52.0,25,1013,06:00:00,06:00:00
50286,AL192017,RINA,21,NaN,LO,29.0,-51.9,25,1013,12:00:00,06:00:00
50287,AL192017,RINA,21,NaN,TD,29.2,-51.7,30,1012,18:00:00,06:00:00
50288,AL192017,RINA,21,NaN,TD,29.1,-51.2,30,1011,00:00:00,-1 days +06:00:00
50289,AL192017,RINA,21,NaN,TD,29.0,-50.7,30,1010,06:00:00,06:00:00
50290,AL192017,RINA,21,NaN,TD,29.1,-50.4,30,1010,12:00:00,06:00:00
50291,AL192017,RINA,21,NaN,TD,29.4,-50.2,30,1009,18:00:00,06:00:00
50292,AL192017,RINA,21,NaN,TS,30.0,-50.0,35,1008,00:00:00,-1 days +06:00:00
50293,AL192017,RINA,21,NaN,TS,30.8,-49.9,40,1006,06:00:00,06:00:00
50294,AL192017,RINA,21,NaN,TS,31.8,-49.5,40,1004,12:00:00,06:00:00
50295,AL192017,RINA,21,NaN,TS,33.0,-49.1,40,1002,18:00:00,06:00:00
50296,AL192017,RINA,21,NaN,TS,34.6,-48.7,45,999,00:00:00,-1 days +06:00:00
50297,AL192017,RINA,21,NaN,TS,36.4,-48.7,50,996,06:00:00,06:00:00
50298,AL192017,RINA,21,NaN,TS,38.3,-48.8,45,994,12:00:00,06:00:00
50299,AL192017,RINA,21,NaN,TS,40.1,-49.0,45,992,18:00:00,06:00:00
50300,AL192017,RINA,21,NaN,TS,41.8,-48.8,45,991,00:00:00,-1 days +06:00:00
50301,AL192017,RINA,21,NaN,LO,43.6,-48.0,40,993,06:00:00,06:00:00
50302,AL192017,RINA,21,NaN,LO,45.5,-47.0,40,995,12:00:00,06:00:00

In [63]:
import numpy as np
def haversine(lon1, lat1, lon2, lat2, earth_radius=6367):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = earth_radius * c
    return km


# Use pandas shift to place prior values on each row, within a grouped dataframe
dfg = hurricane_df.groupby("identifier")
hurricane_df ['p_latitude'] = dfg['latitude'].shift(1)
hurricane_df ['p_longitude'] = dfg['longitude'].shift(1)

# Assign to a new column - use pandas dataframe apply to invoke for each row
hurricane_df['distance'] = hurricane_df[['p_latitude', 'p_longitude', 'latitude','longitude']].apply(lambda x: haversine(x[1], x[0], x[3], x[2]), axis=1)
hurricane_df

,identifier,name,num_pts,record_id,status,latitude,longitude,max_wind,min_pressure,datetime,time_diff,p_latitude,p_longitude,distance,speed
0,AL011851,UNNAMED,14,NaN,HU,28.0,-94.8,80,-999,00:00:00,00:00:00,NaN,NaN,NaN,NaN
1,AL011851,UNNAMED,14,NaN,HU,28.0,-95.4,80,-999,06:00:00,06:00:00,28.0,-94.8,58.870532,366906827913
2,AL011851,UNNAMED,14,NaN,HU,28.0,-96.0,80,-999,12:00:00,06:00:00,28.0,-95.4,58.870532,366906827913
3,AL011851,UNNAMED,14,NaN,HU,28.1,-96.5,80,-999,18:00:00,06:00:00,28.0,-96.0,50.279389,429599491430
4,AL011851,UNNAMED,14,L,HU,28.2,-96.8,80,-999,21:00:00,03:00:00,28.1,-96.5,31.424628,343679485201
5,AL011851,UNNAMED,14,NaN,HU,28.2,-97.0,70,-999,00:00:00,-1 days +03:00:00,28.2,-96.8,19.586987,-3859705425331
6,AL011851,UNNAMED,14,NaN,TS,28.3,-97.6,60,-999,06:00:00,06:00:00,28.2,-97.0,59.775391,361352718633
7,AL011851,UNNAMED,14,NaN,TS,28.4,-98.3,60,-999,12:00:00,06:00:00,28.3,-97.6,69.353943,311445881787
8,AL011851,UNNAMED,14,NaN,TS,28.6,-98.9,50,-999,18:00:00,06:00:00,28.4,-98.3,62.668447,344671056542
9,AL011851,UNNAMED,14,NaN,TS,29.0,-99.4,50,-999,00:00:00,-1 days +06:00:00,28.6,-98.9,65.927879,-982892236871
10,AL011851,UNNAMED,14,NaN,TS,29.5,-99.8,40,-999,06:00:00,06:00:00,29.0,-99.4,67.758830,318777641564
11,AL011851,UNNAMED,14,NaN,TS,30.0,-100.0,40,-999,12:00:00,06:00:00,29.5,-99.8,58.817671,367236572257
12,AL011851,UNNAMED,14,NaN,TS,30.5,-100.1,40,-999,18:00:00,06:00:00,30.0,-100.0,56.385678,383076001929
13,AL011851,UNNAMED,14,NaN,TS,31.0,-100.2,40,-999,00:00:00,-1 days +06:00:00,30.5,-100.1,56.377319,-1149398388797
14,AL021851,UNNAMED,1,NaN,HU,22.2,-97.6,80,-999,12:00:00,00:00:00,NaN,NaN,NaN,NaN
15,AL031851,UNNAMED,1,NaN,TS,12.0,-60.0,50,-999,12:00:00,00:00:00,NaN,NaN,NaN,NaN
16,AL041851,UNNAMED,49,NaN,TS,13.4,-48.0,40,-999,00:00:00,00:00:00,NaN,NaN,NaN,NaN
17,AL041851,UNNAMED,49,NaN,TS,13.7,-49.5,40,-999,06:00:00,06:00:00,13.4,-48.0,165.441262,130559932223
18,AL041851,UNNAMED,49,NaN,TS,14.0,-51.0,50,-999,12:00:00,06:00:00,13.7,-49.5,165.238790,130719911571
19,AL041851,UNNAMED,49,NaN,TS,14.4,-52.8,50,-999,18:00:00,06:00:00,14.0,-51.0,198.941915,108574404899
20,AL041851,UNNAMED,49,NaN,TS,14.9,-54.6,60,-999,00:00:00,-1 days +06:00:00,14.4,-52.8,201.339358,-321844673605
21,AL041851,UNNAMED,49,NaN,TS,15.4,-56.5,60,-999,06:00:00,06:00:00,14.9,-54.6,211.236590,102255011721
22,AL041851,UNNAMED,49,NaN,HU,15.9,-58.5,70,-999,12:00:00,06:00:00,15.4,-56.5,221.104384,97691414417
23,AL041851,UNNAMED,49,NaN,HU,16.1,-60.4,70,-999,18:00:00,06:00:00,15.9,-58.5,204.171020,105793662595
24,AL041851,UNNAMED,49,NaN,HU,16.6,-62.5,80,-999,00:00:00,-1 days +06:00:00,16.1,-60.4,230.714117,-280867078232
25,AL041851,UNNAMED,49,NaN,HU,16.9,-64.1,80,-999,06:00:00,06:00:00,16.6,-62.5,173.488845,124503682312
26,AL041851,UNNAMED,49,NaN,HU,17.2,-66.0,90,-999,12:00:00,06:00:00,16.9,-64.1,204.591361,105576305403
27,AL041851,UNNAMED,49,NaN,HU,17.6,-67.6,90,-999,18:00:00,06:00:00,17.2,-66.0,175.389270,123154626447
28,AL041851,UNNAMED,49,NaN,HU,18.0,-69.3,90,-999,00:00:00,-1 days +06:00:00,17.6,-67.6,185.279215,-349742413595
29,AL041851,UNNAMED,49,NaN,HU,18.4,-71.1,70,-999,06:00:00,06:00:00,18.0,-69.3,195.146861,110685869612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50273,AL172017,OPHELIA,47,NaN,EX,59.3,1.5,40,994,12:00:00,06:00:00,58.7,-2.9,260.450908,82933095486
50274,AL172017,OPHELIA,47,NaN,EX,60.1,5.3,40,997,18:00:00,06:00:00,59.3,1.5,230.811068,93583034043
50275,AL182017,PHILIPPE,7,NaN,DB,17.5,-84.2,30,1006,18:00:00,00:00:00,NaN,NaN,NaN,NaN
50276,AL182017,PHILIPPE,7,NaN,DB,18.2,-84.5,30,1006,00:00:00,-1 days +06:00:00,17.5,-84.2,84.011057,-771327040994
50277,AL182017,PHILIPPE,7,NaN,DB,19.1,-84.3,30,1004,06:00:00,06:00:00,18.2,-84.5,102.205415,211339096094
50278,AL182017,PHILIPPE,7,NaN,TD,20.1,-83.5,30,1003,12:00:00,06:00:00,19.1,-84.3,139.148935,155229359205
50279,AL182017,PHILIPPE,7,NaN,TS,21.3,-82.4,35,1000,18:00:00,06:00:00,20.1,-83.5,175.660576,122964415014
50280,AL182017,PHILIPPE,7,L,TS,22.2,-81.6,35,1000,22:00:00,04:00:00,21.3,-82.4,129.693138,111031317264
50281,AL182017,PHILIPPE,7,NaN,TD,22.7,-81.2,30,1003,00:00:00,-1 days +02:00:00,22.2,-81.6,69.100326,-1146159574531
50282,AL192017,RINA,21,NaN,LO,25.5,-52.3,25,1013,12:00:00,00:00:00,NaN,NaN,NaN,NaN
50283,AL192017,RINA,21,NaN,LO,26.5,-52.1,25,1013,18:00:00,06:00:00,25.5,-52.3,112.906168,191309300687
50284,AL192017,RINA,21,NaN,LO,27.5,-52.0,25,1013,00:00:00,-1 days +06:00:00,26.5,-52.1,111.565329,-580825609488
50285,AL192017,RINA,21,NaN,LO,28.4,-52.0,25,1013,06:00:00,06:00:00,27.5,-52.0,100.012602,215972782835
50286,AL192017,RINA,21,NaN,LO,29.0,-51.9,25,1013,12:00:00,06:00:00,28.4,-52.0,67.383773,320551953221
50287,AL192017,RINA,21,NaN,TD,29.2,-51.7,30,1012,18:00:00,06:00:00,29.0,-51.9,29.513928,731857848071
50288,AL192017,RINA,21,NaN,TD,29.1,-51.2,30,1011,00:00:00,-1 days +06:00:00,29.2,-51.7,49.781518,-1301687916015
50289,AL192017,RINA,21,NaN,TD,29.0,-50.7,30,1010,06:00:00,06:00:00,29.1,-51.2,49.827491,433495635368
50290,AL192017,RINA,21,NaN,TD,29.1,-50.4,30,1010,12:00:00,06:00:00,29.0,-50.7,31.190279,692523472584
50291,AL192017,RINA,21,NaN,TD,29.4,-50.2,30,1009,18:00:00,06:00:00,29.1,-50.4,38.566951,560065008696
50292,AL192017,RINA,21,NaN,TS,30.0,-50.0,35,1008,00:00:00,-1 days +06:00:00,29.4,-50.2,69.413649,-933533984606
50293,AL192017,RINA,21,NaN,TS,30.8,-49.9,40,1006,06:00:00,06:00:00,30.0,-50.0,89.415264,241569493049
50294,AL192017,RINA,21,NaN,TS,31.8,-49.5,40,1004,12:00:00,06:00:00,30.8,-49.9,117.436145,183929743139
50295,AL192017,RINA,21,NaN,TS,33.0,-49.1,40,1002,18:00:00,06:00:00,31.8,-49.5,138.530414,155922439243
50296,AL192017,RINA,21,NaN,TS,34.6,-48.7,45,999,00:00:00,-1 days +06:00:00,33.0,-49.1,181.595867,-356836315016
50297,AL192017,RINA,21,NaN,TS,36.4,-48.7,50,996,06:00:00,06:00:00,34.6,-48.7,200.025204,107986391417
50298,AL192017,RINA,21,NaN,TS,38.3,-48.8,45,994,12:00:00,06:00:00,36.4,-48.7,211.322388,102213495548
50299,AL192017,RINA,21,NaN,TS,40.1,-49.0,45,992,18:00:00,06:00:00,38.3,-48.8,200.765152,107588392534
50300,AL192017,RINA,21,NaN,TS,41.8,-48.8,45,991,00:00:00,-1 days +06:00:00,40.1,-49.0,189.656830,-341669741582
50301,AL192017,RINA,21,NaN,LO,43.6,-48.0,40,993,06:00:00,06:00:00,41.8,-48.8,210.421792,102650964849
50302,AL192017,RINA,21,NaN,LO,45.5,-47.0,40,995,12:00:00,06:00:00,43.6,-48.0,225.495431,95789080381

In [66]:
time = pd.to_timedelta(hurricane_df.time_diff, errors='coerce').dt.total_seconds() / 3600
# If already timedelta, use
# time = df.time_diff.dt.total_seconds() / 3600
hurricane_df['speed'] = hurricane_df['distance'] / time
hurricane_df

,identifier,name,num_pts,record_id,status,latitude,longitude,max_wind,min_pressure,datetime,time_diff,p_latitude,p_longitude,distance,speed
0,AL011851,UNNAMED,14,NaN,HU,28.0,-94.8,80,-999,00:00:00,00:00:00,NaN,NaN,NaN,NaN
1,AL011851,UNNAMED,14,NaN,HU,28.0,-95.4,80,-999,06:00:00,06:00:00,28.0,-94.8,58.870532,9.811755
2,AL011851,UNNAMED,14,NaN,HU,28.0,-96.0,80,-999,12:00:00,06:00:00,28.0,-95.4,58.870532,9.811755
3,AL011851,UNNAMED,14,NaN,HU,28.1,-96.5,80,-999,18:00:00,06:00:00,28.0,-96.0,50.279389,8.379898
4,AL011851,UNNAMED,14,L,HU,28.2,-96.8,80,-999,21:00:00,03:00:00,28.1,-96.5,31.424628,10.474876
5,AL011851,UNNAMED,14,NaN,HU,28.2,-97.0,70,-999,00:00:00,-1 days +03:00:00,28.2,-96.8,19.586987,-0.932714
6,AL011851,UNNAMED,14,NaN,TS,28.3,-97.6,60,-999,06:00:00,06:00:00,28.2,-97.0,59.775391,9.962565
7,AL011851,UNNAMED,14,NaN,TS,28.4,-98.3,60,-999,12:00:00,06:00:00,28.3,-97.6,69.353943,11.558991
8,AL011851,UNNAMED,14,NaN,TS,28.6,-98.9,50,-999,18:00:00,06:00:00,28.4,-98.3,62.668447,10.444741
9,AL011851,UNNAMED,14,NaN,TS,29.0,-99.4,50,-999,00:00:00,-1 days +06:00:00,28.6,-98.9,65.927879,-3.662660
10,AL011851,UNNAMED,14,NaN,TS,29.5,-99.8,40,-999,06:00:00,06:00:00,29.0,-99.4,67.758830,11.293138
11,AL011851,UNNAMED,14,NaN,TS,30.0,-100.0,40,-999,12:00:00,06:00:00,29.5,-99.8,58.817671,9.802945
12,AL011851,UNNAMED,14,NaN,TS,30.5,-100.1,40,-999,18:00:00,06:00:00,30.0,-100.0,56.385678,9.397613
13,AL011851,UNNAMED,14,NaN,TS,31.0,-100.2,40,-999,00:00:00,-1 days +06:00:00,30.5,-100.1,56.377319,-3.132073
14,AL021851,UNNAMED,1,NaN,HU,22.2,-97.6,80,-999,12:00:00,00:00:00,NaN,NaN,NaN,NaN
15,AL031851,UNNAMED,1,NaN,TS,12.0,-60.0,50,-999,12:00:00,00:00:00,NaN,NaN,NaN,NaN
16,AL041851,UNNAMED,49,NaN,TS,13.4,-48.0,40,-999,00:00:00,00:00:00,NaN,NaN,NaN,NaN
17,AL041851,UNNAMED,49,NaN,TS,13.7,-49.5,40,-999,06:00:00,06:00:00,13.4,-48.0,165.441262,27.573544
18,AL041851,UNNAMED,49,NaN,TS,14.0,-51.0,50,-999,12:00:00,06:00:00,13.7,-49.5,165.238790,27.539798
19,AL041851,UNNAMED,49,NaN,TS,14.4,-52.8,50,-999,18:00:00,06:00:00,14.0,-51.0,198.941915,33.156986
20,AL041851,UNNAMED,49,NaN,TS,14.9,-54.6,60,-999,00:00:00,-1 days +06:00:00,14.4,-52.8,201.339358,-11.185520
21,AL041851,UNNAMED,49,NaN,TS,15.4,-56.5,60,-999,06:00:00,06:00:00,14.9,-54.6,211.236590,35.206098
22,AL041851,UNNAMED,49,NaN,HU,15.9,-58.5,70,-999,12:00:00,06:00:00,15.4,-56.5,221.104384,36.850731
23,AL041851,UNNAMED,49,NaN,HU,16.1,-60.4,70,-999,18:00:00,06:00:00,15.9,-58.5,204.171020,34.028503
24,AL041851,UNNAMED,49,NaN,HU,16.6,-62.5,80,-999,00:00:00,-1 days +06:00:00,16.1,-60.4,230.714117,-12.817451
25,AL041851,UNNAMED,49,NaN,HU,16.9,-64.1,80,-999,06:00:00,06:00:00,16.6,-62.5,173.488845,28.914807
26,AL041851,UNNAMED,49,NaN,HU,17.2,-66.0,90,-999,12:00:00,06:00:00,16.9,-64.1,204.591361,34.098560
27,AL041851,UNNAMED,49,NaN,HU,17.6,-67.6,90,-999,18:00:00,06:00:00,17.2,-66.0,175.389270,29.231545
28,AL041851,UNNAMED,49,NaN,HU,18.0,-69.3,90,-999,00:00:00,-1 days +06:00:00,17.6,-67.6,185.279215,-10.293290
29,AL041851,UNNAMED,49,NaN,HU,18.4,-71.1,70,-999,06:00:00,06:00:00,18.0,-69.3,195.146861,32.524477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50273,AL172017,OPHELIA,47,NaN,EX,59.3,1.5,40,994,12:00:00,06:00:00,58.7,-2.9,260.450908,43.408485
50274,AL172017,OPHELIA,47,NaN,EX,60.1,5.3,40,997,18:00:00,06:00:00,59.3,1.5,230.811068,38.468511
50275,AL182017,PHILIPPE,7,NaN,DB,17.5,-84.2,30,1006,18:00:00,00:00:00,NaN,NaN,NaN,NaN
50276,AL182017,PHILIPPE,7,NaN,DB,18.2,-84.5,30,1006,00:00:00,-1 days +06:00:00,17.5,-84.2,84.011057,-4.667281
50277,AL182017,PHILIPPE,7,NaN,DB,19.1,-84.3,30,1004,06:00:00,06:00:00,18.2,-84.5,102.205415,17.034236
50278,AL182017,PHILIPPE,7,NaN,TD,20.1,-83.5,30,1003,12:00:00,06:00:00,19.1,-84.3,139.148935,23.191489
50279,AL182017,PHILIPPE,7,NaN,TS,21.3,-82.4,35,1000,18:00:00,06:00:00,20.1,-83.5,175.660576,29.276763
50280,AL182017,PHILIPPE,7,L,TS,22.2,-81.6,35,1000,22:00:00,04:00:00,21.3,-82.4,129.693138,32.423285
50281,AL182017,PHILIPPE,7,NaN,TD,22.7,-81.2,30,1003,00:00:00,-1 days +02:00:00,22.2,-81.6,69.100326,-3.140924
50282,AL192017,RINA,21,NaN,LO,25.5,-52.3,25,1013,12:00:00,00:00:00,NaN,NaN,NaN,NaN
50283,AL192017,RINA,21,NaN,LO,26.5,-52.1,25,1013,18:00:00,06:00:00,25.5,-52.3,112.906168,18.817695
50284,AL192017,RINA,21,NaN,LO,27.5,-52.0,25,1013,00:00:00,-1 days +06:00:00,26.5,-52.1,111.565329,-6.198074
50285,AL192017,RINA,21,NaN,LO,28.4,-52.0,25,1013,06:00:00,06:00:00,27.5,-52.0,100.012602,16.668767
50286,AL192017,RINA,21,NaN,LO,29.0,-51.9,25,1013,12:00:00,06:00:00,28.4,-52.0,67.383773,11.230629
50287,AL192017,RINA,21,NaN,TD,29.2,-51.7,30,1012,18:00:00,06:00:00,29.0,-51.9,29.513928,4.918988
50288,AL192017,RINA,21,NaN,TD,29.1,-51.2,30,1011,00:00:00,-1 days +06:00:00,29.2,-51.7,49.781518,-2.765640
50289,AL192017,RINA,21,NaN,TD,29.0,-50.7,30,1010,06:00:00,06:00:00,29.1,-51.2,49.827491,8.304582
50290,AL192017,RINA,21,NaN,TD,29.1,-50.4,30,1010,12:00:00,06:00:00,29.0,-50.7,31.190279,5.198380
50291,AL192017,RINA,21,NaN,TD,29.4,-50.2,30,1009,18:00:00,06:00:00,29.1,-50.4,38.566951,6.427825
50292,AL192017,RINA,21,NaN,TS,30.0,-50.0,35,1008,00:00:00,-1 days +06:00:00,29.4,-50.2,69.413649,-3.856314
50293,AL192017,RINA,21,NaN,TS,30.8,-49.9,40,1006,06:00:00,06:00:00,30.0,-50.0,89.415264,14.902544
50294,AL192017,RINA,21,NaN,TS,31.8,-49.5,40,1004,12:00:00,06:00:00,30.8,-49.9,117.436145,19.572691
50295,AL192017,RINA,21,NaN,TS,33.0,-49.1,40,1002,18:00:00,06:00:00,31.8,-49.5,138.530414,23.088402
50296,AL192017,RINA,21,NaN,TS,34.6,-48.7,45,999,00:00:00,-1 days +06:00:00,33.0,-49.1,181.595867,-10.088659
50297,AL192017,RINA,21,NaN,TS,36.4,-48.7,50,996,06:00:00,06:00:00,34.6,-48.7,200.025204,33.337534
50298,AL192017,RINA,21,NaN,TS,38.3,-48.8,45,994,12:00:00,06:00:00,36.4,-48.7,211.322388,35.220398
50299,AL192017,RINA,21,NaN,TS,40.1,-49.0,45,992,18:00:00,06:00:00,38.3,-48.8,200.765152,33.460859
50300,AL192017,RINA,21,NaN,TS,41.8,-48.8,45,991,00:00:00,-1 days +06:00:00,40.1,-49.0,189.656830,-10.536491
50301,AL192017,RINA,21,NaN,LO,43.6,-48.0,40,993,06:00:00,06:00:00,41.8,-48.8,210.421792,35.070299
50302,AL192017,RINA,21,NaN,LO,45.5,-47.0,40,995,12:00:00,06:00:00,43.6,-48.0,225.495431,37.582572